## mysql parameter ##
[server]
hostname=localhost
username=root
password=

## excluded db ##
[database]
exclude=sys,mysql,phpmyadmin,information_schema,performance_schema

## validity backup file ##
[validity]
#older than format
value=7
#format [second,day,week,month,year]
format=day

## restore source ##
[restore]
hostname=localhost
username=root
password=
source=backup/2021-07-02_23-57-02
